<div class="container-fluid" *ngIf="(teamDetails$ | async) as teamDetails">

  <div class="row mb-2">
    <div class="col">
        <h3 class="text-info text-center">Team Details</h3>
        <h6 >Name: <span class="text-success">{{teamDetails.name}}</span> </h6>
        <h6 >Coach: <span class="text-success">{{teamDetails.coach}}</span> </h6>        
    </div>
</div>


<div class="row">
  <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" 
            role="tab" aria-controls="home-tab-pane" aria-selected="true">Schedules</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" 
            role="tab" aria-controls="profile-tab-pane" aria-selected="false">Team Members</button>
          </li>    
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">                
              <app-schedule-list 
              [homeSchedules]= "teamDetails.homeSchedules"
              [awaySchedules]= "teamDetails.awaySchedules">
              </app-schedule-list>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
              <app-team-members-list [teamMembers]="teamDetails.teamMembers" [teamId]="teamDetails.id"></app-team-members-list>
          </div>    
        </div>
  </div>
</div>
</div>




